name: Reusable build and test workflow

on:
  workflow_call:
  workflow_dispatch:

jobs:
  Non-Default-Build-Config:
    runs-on: ubuntu-latest
    env:
      SCCACHE_GHA_ENABLED: true
      CMAKE_C_COMPILER_LAUNCHER: sccache
      CMAKE_CXX_COMPILER_LAUNCHER: sccache
    container:
      image: ghcr.io/hrzlgnm/monkas-github-builder:v1@sha256:d6201eac996991c24f6bb69526cb5446a1537a2045089568254f5722add58aee
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Run sccache-action
        uses: mozilla-actions/sccache-action@bafd42bd91680affe190f697cac6ef3ad958ecba

      - name: Configure
        run: cmake -DBUILD_EXAMPLES=OFF -DBUILD_TESTS=OFF -S . -B ../build

      - name: Build
        run: cmake --build ../build

  Build-And-Test:
    name: ${{ matrix.toolchain.name }}
    strategy:
      fail-fast: false
      matrix:
        toolchain:
          - {
              name: Clang libstdc++,
              CC: clang,
              CXX: clang++,
              CFLAGS: -stdlib=libstdc++,
              CMAKE_BUILD_TYPE: Debug,
              CMAKE_FLAGS: -G Ninja,
              sccache: sccache,
            }
          - {
              name: Clang ASAN+UBSAN libstdc++,
              CC: clang,
              CXX: clang++,
              CFLAGS: "-fsanitize=address,undefined -fsanitize-address-use-after-scope -fno-sanitize-recover=address,undefined -stdlib=libstdc++",
              CMAKE_BUILD_TYPE: Debug,
              ASAN_OPTIONS: strict_string_checks=1:detect_stack_use_after_return=1:check_initialization_order=1:strict_init_order=1,
              CMAKE_FLAGS: -G Ninja,
              sccache: sccache,
            }
          - {
              name: Clang libstdc++ Release,
              CC: clang,
              CXX: clang++,
              CFLAGS: -stdlib=libstdc++,
              CMAKE_BUILD_TYPE: Release,
              CMAKE_FLAGS: -G Ninja,
              sccache: sccache,
            }
          - {
              name: GCC,
              CC: gcc,
              CXX: g++,
              CFLAGS: "",
              CMAKE_BUILD_TYPE: Debug,
              CMAKE_FLAGS: -G Ninja,
              sccache: sccache,
            }
          - {
              name: GCC ASAN+UBSAN,
              CC: gcc,
              CXX: g++,
              CFLAGS: "-fsanitize=address,undefined -fsanitize-address-use-after-scope -fno-sanitize-recover=address,undefined",
              CMAKE_BUILD_TYPE: Debug,
              CMAKE_FLAGS: -G Ninja,
              ASAN_OPTIONS: strict_string_checks=1:detect_stack_use_after_return=1:check_initialization_order=1:strict_init_order=1,
              sccache: sccache,
            }
          - {
              name: GCC Release,
              CC: gcc,
              CXX: g++,
              CFLAGS: "",
              CMAKE_BUILD_TYPE: Release,
              CMAKE_FLAGS: -G Ninja,
              sccache: sccache,
            }
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/hrzlgnm/monkas-github-builder:v1@sha256:d6201eac996991c24f6bb69526cb5446a1537a2045089568254f5722add58aee
    env:
      ASAN_OPTIONS: ${{ matrix.toolchain.ASAN_OPTIONS }}
      CMAKE_BUILD_TYPE: ${{ matrix.toolchain.CMAKE_BUILD_TYPE }}
      CMAKE_C_COMPILER: ${{ matrix.toolchain.CC }}
      CMAKE_C_FLAGS: ${{ matrix.toolchain.CFLAGS }}
      CMAKE_CXX_COMPILER: ${{ matrix.toolchain.CXX }}
      CMAKE_CXX_FLAGS: ${{ matrix.toolchain.CFLAGS }}
      CMAKE_EXE_LINKER_FLAGS: ${{ matrix.toolchain.CFLAGS }}
      CMAKE_EXTRA_FLAGS: ${{ matrix.toolchain.CMAKE_FLAGS }}
      CMAKE_SHARED_LINKER_FLAGS: ${{ matrix.toolchain.CFLAGS }}
      CMAKE_C_COMPILER_LAUNCHER: ${{ matrix.toolchain.sccache }}
      CMAKE_CXX_COMPILER_LAUNCHER: ${{ matrix.toolchain.sccache }}
      SCCACHE_GHA_ENABLED: true

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Run sccache-action
        if: ${{ matrix.toolchain.sccache }}
        uses: mozilla-actions/sccache-action@7d986dd989559c6ecdb630a3fd2557667be217ad # v0.0.9

      - name: Configure
        run: |
          env | grep '^ASAN_OPTIONS\|^CMAKE' | sort
          cmake -DCMAKE_BUILD_TYPE="${CMAKE_BUILD_TYPE}" ${CMAKE_C_COMPILER+-DCMAKE_C_COMPILER="${CMAKE_C_COMPILER}"} ${CMAKE_CXX_COMPILER+-DCMAKE_CXX_COMPILER="${CMAKE_CXX_COMPILER}"} -DCMAKE_C_FLAGS="${CMAKE_C_FLAGS}" -DCMAKE_CXX_FLAGS="${CMAKE_CXX_FLAGS}" -DCMAKE_EXE_LINKER_FLAGS="${CMAKE_EXE_LINKER_FLAGS}" -DCMAKE_SHARED_LINKER_FLAGS="${CMAKE_SHARED_LINKER_FLAGS}" ${CMAKE_EXTRA_FLAGS} -S . -B ./build
        shell: bash

      - name: Build
        run: cmake --build ./build --config ${{matrix.toolchain.CMAKE_BUILD_TYPE}}

      - name: Test
        working-directory: ./build
        run: ctest --verbose --build-config ${{matrix.toolchain.CMAKE_BUILD_TYPE}}

      - name: CLI example help
        run: |
          ./build/examples/cli/monka --help || true

      - name: CLI example nerdstats/dumppackets
        run: |
          ./build/examples/cli/monka --log-level=trace --nerdstats --dumppackets --include-non-ieee802 --exit-after-enumeration

      - name: JUnit Report
        uses: mikepenz/action-junit-report@e08919a3b1fb83a78393dfb775a9c37f17d8eea6 # v6
        with:
          report_paths: "**/junit.xml"
          fail_on_parse_error: true
          require_tests: true
          include_passed: true
          check_name: "${{ matrix.toolchain.name }} JUnit Report"
