name: Coverity Scan Workflow
on:
  workflow_dispatch:
  schedule:
    - cron: "0 7 * * SAT"

jobs:
  coverity:
    uses: hrzlgnm/actions/.github/workflows/coverity-reusable.yml@acb5bddd856e0fd20697dc5f3f90ccddd813d8f0 # v1.3.0
    secrets:
      COVERITY_EMAIL: ${{ secrets.COVERITY_NOTIFY_EMAIL }}
      COVERITY_TOKEN: ${{ secrets.COVERITY_SCAN_TOKEN }}
    with:
      extra-deps: "libgflags-dev libmnl-dev libspdlog-dev"
