name: Coverity Scan Workflow
on:
  workflow_dispatch:
  schedule:
    - cron: "0 7 * * SAT"

jobs:
  coverity:
    uses: hrzlgnm/actions/.github/workflows/coverity-reusable.yml@6e7f39f1493098b1629a8ec97ba9376f6a8771c5 #v1.2.0
    with:
      coverity-email: ${{ secrets.COVERITY_NOTIFY_EMAIL }}
      coverity-token: ${{ secrets.COVERITY_SCAN_TOKEN }}
      extra-deps: "libgflags-dev libmnl-dev libspdlog-dev"
