name: Coverity Scan Workflow
on:
  workflow_dispatch:
  schedule:
    - cron: "0 7 * * SAT"

jobs:
  coverity:
    uses: hrzlgnm/actions/.github/workflows/coverity-reusable.yml@e8cd94e4ec1cdb9588d493e982c1f3be319e02c4 # v1.6.3
    secrets:
      COVERITY_EMAIL: ${{ secrets.COVERITY_NOTIFY_EMAIL }}
      COVERITY_TOKEN: ${{ secrets.COVERITY_SCAN_TOKEN }}
    with:
      extra-deps: "libgflags-dev libmnl-dev libspdlog-dev"
