name: Coverity Scan Workflow
on:
  workflow_dispatch:
  schedule:
    - cron: "0 7 * * SAT"

jobs:
  coverity:
    uses: hrzlgnm/actions/.github/workflows/coverity-reusable.yml@b3d122c2210574b60b69ec60dc55e711cce97b39 #v1.2.1
    with:
      coverity-email: ${{ secrets.COVERITY_NOTIFY_EMAIL }}
      coverity-token: ${{ secrets.COVERITY_SCAN_TOKEN }}
      extra-deps: "libgflags-dev libmnl-dev libspdlog-dev"
