name: Coverity Scan Workflow
on:
  workflow_dispatch:
  schedule:
    - cron: "0 7 * * SAT"

jobs:
  coverity:
    uses: hrzlgnm/actions/.github/workflows/coverity-reusable.yml@07f2df125021e3bddb03fb08e3bc8428d500f9f8 # v1.5.1
    secrets:
      COVERITY_EMAIL: ${{ secrets.COVERITY_NOTIFY_EMAIL }}
      COVERITY_TOKEN: ${{ secrets.COVERITY_SCAN_TOKEN }}
    with:
      extra-deps: "libgflags-dev libmnl-dev libspdlog-dev"
