name: Coverity Scan Workflow
on:
  workflow_dispatch:
  schedule:
    - cron: "0 7 * * SAT"

jobs:
  coverity:
    uses: hrzlgnm/actions/.github/workflows/coverity-reusable.yml@481fadadfae2110130c65788f399af0bb855cffe # v1.6.4
    secrets:
      COVERITY_EMAIL: ${{ secrets.COVERITY_NOTIFY_EMAIL }}
      COVERITY_TOKEN: ${{ secrets.COVERITY_SCAN_TOKEN }}
    with:
      extra-deps: "libgflags-dev libmnl-dev libspdlog-dev"
